@import "../../styles/variaveis.scss";

footer {
  background-color: #444;
  padding: 10px;
}

p {
  color: white;
}

.facebookLogo {
  color: white;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.instagramLogo {
  color: white;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.whatsappLogo {
  color: white;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
