@import "../../../styles/variaveis";

.banner {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;


  .hero_img {
    color: white;
    width: 38%;

    img {
      /* or any custom size */
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-radius: 14px;
    }

  }

  .hero_text {
    color: #242424;
    padding: 20px;

    h1 {
      font-size: 95px;
      margin-top: 10px;
      margin: 0px;
    }

    h2 {
      font-size: 45px;
      text-align: left;
      margin: 10px 0px;
    }

    p {
      font-size: 26px;
    }

    .destaque {
      background: $app_a;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}