@import "../../../styles/variaveis.scss";

.Icon-container {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}


.text {
  font-size: 15px;
  margin-left: 5px;
}

.link {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}


.link:hover {
  color: #0000006c;
  transition: 0.2s;
}