@import "../../styles/variaveis.scss";

.cont_principal {
  margin-top: 100px;
}

.voltar {
  border: none;
}

h2 {
  text-align: center;
}

.cont_criarConta {
  border-radius: $raio_borda_a;
  border-style: solid;
  border-width: 1px;
  border-color: #0000003a;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding: 8px 30px;
  font-size: 20px;
}

.cont_inputs {
  border-radius: $raio_borda_a;
  border-style: solid;
  border-width: 1px;
  border-color: #0000003a;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 25px 30px 35px 25px;

  label {
    font-size: 20px;
    margin-bottom: 5px;
  }

  input {
    margin-bottom: 12px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #0000003a;
  }

  a {
    text-align: right;
  }

  button {
    margin-top: 8px;
    background-color: $app_a;
    color: #fff;
  }
}
