@import '../../../styles/variaveis.scss';

.menu {
  background-color: $cor_principal;
  color: #ffffff;
  // padding: 10px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  flex-direction: row;
  width: 100%;
}

.header1 {
  display: inline-flex;
  font-size: 15px;
  align-items: center;
  margin: 10px;
}

.menuIcon {
  cursor: auto;
  align-items: center;
  margin: 20px ;
  font-size: 25px;
  height: 24px;
  border-radius: 25px;
  transition: background-color 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px #696969;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  color: #343434;
}