@import '../../../styles/variaveis.scss';

.sidebar {
  display: flex;
  flex-direction: column ;
  background-color: #333;
  color: #fff;
  padding: 1px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: solid transparent;
    position: relative;
    width: 40%;
    z-index: 0;
    margin-left: 850px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        z-index: -1;
        border: 10px solid transparent;
        background: linear-gradient(to right, #000000, #0aaadb) border-box;

    }
    
    &__input {
      width: 80%;
      height: 100%;
      color: #fdfdfd;
      font-size: 10rem;
      font-family:'Courier New', Courier, monospace;
      border: none;
    
      &::placeholder {
        font-size: 1rem;
      }
    }
  }  
}

.sidebarIcon {
  cursor: pointer;
  font-size: 40px;
  margin-right: 20px;
  margin-left: 20px;
  transition: background 0.3s ease;
}

.nameContainer {
  display: flex;
  align-items: center;
}

h4 {
  margin-left: 15px;
  flex: 0 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.menuItem {
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.menuItem:hover {
  background-color: transparent;
  border-radius: 30px;
  padding: 3px;
}

.icon {
  margin-right: 1px;
}

.text {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}