@import "../../../styles/variaveis";

.faixa {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $app_a;
  color: #fff;


  h2 {
    margin: auto;
  }


}

.containerCards {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;


  .cardMotivo {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(#39d4fa, 10%);
    vertical-align: baseline
  }
}
