@import "../../../styles/variaveis";

.faixa {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $app_a;
  color: #fff;
  border-radius: $raio_borda_a;

  h2 {
    margin: auto;
  }
}



.porque {
  h1 {
    text-align: center;
    font-size: 45px;
  }

  .containerCards {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 30px;
      text-align: center;
    }

    .cardMotivo {
      width: 500px;
      height: 200px;
      border-radius: $raio_borda_a;
      padding: 25px;
      background-color: rgba(#39d4fa, 12%);
      vertical-align: baseline;
      margin-bottom: 20px;

      p {
        font-size: 17px;
      }

    }
  }

}



.como {
  background-color: rgba($app_b, 12%);
  border-radius: $raio_borda_a;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .como_left {
    display: flex;
    flex-direction: column;
    margin-left: auto;

  }

  h3 {
    font-size: 35px;
  }

  .como_right {
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;

    p {
      font-size: 20px;
    }


  }

}